:root{
    --bg: #1A73E8;
    --bg-acent: #484a4d;
    --text-color: #fff;
    --nav-size: 10vh;
    --border: 1px solid #559af3;
    --border-radius: 5px;
    --speed: 0.5s;
}


.navbar{
    height: var(--nav-size);
    background-color: var(--bg);
    border-bottom: var(--border);
}

.navbar_nav{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    
    justify-content: space-between;
}

.navbar_nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar_nav div{
    margin-right: 50px;
    display: flex;
    
}
.nav_item{
    margin: 20px;
    width: var(--nav-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_item a{
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--text-color);
}

.icon_button{
    width: 100px;
    max-height: 50px;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

}

svg{
    font-size: 1.7em;
}

.dropDownMenu{
    z-index: 10;
    position: absolute;
    top: 67px;
    left: 9.1%;
    width: 17vw;
    height: 83vh;
    transform: translate(-45%);
    background-color: var(--bg);
    border: var(--border);
    padding: 1rem;
    overflow: hidden;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
}



.linguagem{
    height: 30px;
    width: 90%;
    background: none;
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
}

.linguagem option{
    color: black;
}


.dropDownConfg{
    position: absolute;
    top: 67px;
    left: 88.8%;
    width: 17vw;
    background-color: var(--bg);
    border: var(--border);
    padding: 1rem;
    overflow: hidden;
    border-radius: var(--border-radius);
    transform: translate(-45%);
    display: flex;
    justify-content: start;
    align-items: center;

}
.menu_item{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 100px;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    
}

.menu_item span{
    font-size: 19px;
    font-weight: 500;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    color: white;
    font-size: 1.25em;
}

.switch{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.switchButton{
    margin-left: 20px;
    margin-right: 70px;
}

.moon{
    font-size: 1.4em;
    margin-left: -25px;
}

.sun{
    font-size: 1.6em;
}