.parte1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

.parte2{
    margin-left: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
}

.parte3{
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    width: 15%;
    height: 92%;
}

.name{
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.8em;
    text-transform: uppercase;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: rgb(39, 228, 196);
}

[data-id = '1'], [data-id = '7'], [data-id = '12']{
    background-color: rgb(230, 165, 80);
}

[data-id = '4'], [data-id = '9']{
    background-color: rgb(80, 230, 105);
}

[data-id = '5'], [data-id = '11']{
    background-color: rgb(80, 220, 230);
}

[data-id = '6'], [data-id = '10']{
    background-color: rgb(80, 150, 230);
}

[data-id = '2'], [data-id = '8'], [data-id = '13']{
    background-color: rgb(80, 103, 230);
}

[data-id = '3'], [data-id = '14']{
    background-color: #8550e6;
}

.users{
    cursor: pointer;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgb(80, 150, 230);
}

.msg{
    display: flex;
    align-items: center;
}

.msg svg{
    margin-right: 10px;
    font-size: 1.4em;
}